@import "tailwindcss";
@tailwind utilities;
 
:root {
  --text-base: 0.8125rem;
  --text-base--line-height: 1.25rem;
 
  --text-xl: 1rem;
  --text-xl--line-height: 1.5rem;
 
  --text-2xl: 1.125rem;
  --text-2xl--line-height: 1.75rem;
 
  --text-3xl: 1.375rem;
  --text-3xl--line-height: 1.75rem;
 
  --text-4xl: 1.5rem;
  --text-4xl--line-height: 2rem;
 
  --text-5xl: 1.875rem;
  --text-5xl--line-height: 2.25rem;
 
  --text-6xl: 2.25rem;
  --text-6xl--line-height: 2.5rem;
 
  --text-9xl: 4.5rem;
  --text-9xl--line-height: 1;
 
  --text-lg: 0.9375rem;
  --text-lg--line-height: 1.5rem;
}
 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}
 
@keyframes gradientMove {
  0% {
    background-position: 100% 0;
  }
  to {
    background-position: 0% 0;
  }
}
 
.animate-gradient {
  animation: gradientMove 3s linear infinite;
}
 
.animated-gradient-text {
  background: linear-gradient(270deg, #22c55e, #f97316, #a7f3d0);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 8s linear infinite;
}
 
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}