@import "tailwindcss";
@tailwind utilities;

:root {
  --text-base: 0.8125rem;
  --text-base--line-height: 1.25rem;

  --text-sm: 0.75rem;
  --text-sm--line-height: 1.125rem;

  --text-xl: 1rem;
  --text-xl--line-height: 1.5rem;

  --text-2xl: 1.125rem;
  --text-2xl--line-height: 1.75rem;

  --text-3xl: 1.375rem;
  --text-3xl--line-height: 1.75rem;

  --text-4xl: 1.5rem;
  --text-4xl--line-height: 2rem;

  --text-5xl: 1.875rem;
  --text-5xl--line-height: 2.25rem;

  --text-6xl: 2.25rem;
  --text-6xl--line-height: 2.5rem;

  --text-9xl: 4.5rem;
  --text-9xl--line-height: 1;

  --text-lg: 0.9375rem;
  --text-lg--line-height: 1.5rem;
  
  

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

@layer utilities {
  @keyframes timerbar {
    0% { width: 100%; }
    100% { width: 0%; }
  }

  @keyframes scrollup {
    0% { transform: translateY(0); }
    100% { transform: translate(-100%); }
  }
  @keyframes flowDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateY(400%);
      opacity: 0;
    }

  }
  
  

  @keyframes flowRight {
    0% {
      transform: translateX(-50%) translateX(0);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateX(400%);
      opacity: 0;
    }
  }

  @keyframes flowLeft {
    0% {
      transform: translateX(-50%) translateX(0);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateX(-400%);
      opacity: 0;
    }
  }

  @keyframes fromLeftToCenter {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateX(30vw);
      opacity: 0;
    }
  }

  @keyframes fromRightToCenter {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateX(-30vw);
      opacity: 0;
    }
  }

  @keyframes fromLeftToCenter1 {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateX(12vw);
      opacity: 0;
    }
  }

  @keyframes fromRightToCenter1 {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translateX(-12vw);
      opacity: 0;
    }
  }

  @keyframes gradientMove {
    0% {
      background-position: 100% 0;
    }
    to {
      background-position: 0% 0;
    }
  }

  @keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    to {
      background-position: 0% 50%;
    }
    
  }

  /* Utility animation classes */
  .animate-flowDown {
    animation: flowDown 2s linear infinite;
  }
  .animate-flowRight {
    animation: flowRight 2s linear infinite;
  }
  .animate-flowLeft {
    animation: flowLeft 2s linear infinite;
  }
  .animate-fromLeftToCenter {
    animation: fromLeftToCenter 2s linear infinite;
  }
  .animate-fromRightToCenter {
    animation: fromRightToCenter 2s linear infinite;
  }
  .animate-fromLeftToCenter1 {
    animation: fromLeftToCenter1 2s linear infinite;
  }
  .animate-fromRightToCenter1 {
    animation: fromRightToCenter1 2s linear infinite;
  }

  .animate-gradient {
    animation: gradientMove 3s linear infinite;
  }

  .animated-gradient-text {
    background: linear-gradient(270deg, #22c55e, #f97316, #a7f3d0);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 8s linear infinite;
  }
  .animate-timebar{
    animation: timebar 2s linear infinite;
  }
  .animate-scrollup{
    animation: scrollup 2s linear infinite;

  }
 
}
